<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/Dataframe_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#### 데이터프레임 생성

In [ ]:
d1 = {'Name': ['John', 'Jane', 'Mary'], 'ID': [1, 2, 3], 'Role': ['CEO', 'CTO', 'CFO']}

In [ ]:
df = pd.DataFrame(d1)
 
print('DataFrame:\n', df)

DataFrame:
    Name  ID Role
0  John   1  CEO
1  Jane   2  CTO
2  Mary   3  CFO

#### 두번쨰 행(row) 얻기

In [ ]:
row_1_series = df.loc[1]
print(type(row_1_series))
print(df.loc[1])

<class 'pandas.core.series.Series'>
Name    Jane
ID         2
Role     CTO
Name: 1, dtype: object

#### 첫번쨰와 세번쨰 행 얻기

In [ ]:
row_0_2_df = df.loc[[0, 2]]
print(type(row_0_2_df))
print(row_0_2_df)

<class 'pandas.core.frame.DataFrame'>
   Name  ID Role
0  John   1  CEO
2  Mary   3  CFO

#### 단일값 얻기

In [ ]:
jane_role = df.loc[1, 'Role']
print(jane_role)  # CTO

CTO

#### 슬라이싱하기

In [ ]:
roles = df.loc[0:1, 'Role']
print(roles)

0    CEO
1    CTO
Name: Role, dtype: object

#### 조건에 따른 행얻기

In [ ]:
data = df.loc[df['ID'] > 1]
print(data)

   Name  ID Role
1  Jane   2  CTO
2  Mary   3  CFO

#### 단일값 설정

In [ ]:
import pandas as pd
 
d1 = {'Name': ['John', 'Jane', 'Mary'], 'ID': [1, 2, 3], 'Role': ['CEO', 'CTO', 'CFO']}
 
df = pd.DataFrame(d1, index=['A', 'B', 'C'])
print('Original DataFrame:\n', df)
 
# set a single value
df.loc['B', 'Role'] = 'Editor'
print('Updated DataFrame:\n', df)

Original DataFrame:
    Name  ID Role
A  John   1  CEO
B  Jane   2  CTO
C  Mary   3  CFO
Updated DataFrame:
    Name  ID    Role
A  John   1     CEO
B  Jane   2  Editor
C  Mary   3     CFO