<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/HelloColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파이썬 배우기 : 프로그램에서 오류찾기

In [ ]:
sum = 0
lst = [10, 20, 30]
total = sum(lst)

TypeError: ignored

In [ ]:
global = 300
print (global)

SyntaxError: ignored

In [ ]:
width = 100
height = 200
area = ( width * Height)
print ("사각형의 넓이 ", area)

NameError: ignored

In [ ]:
27 = age

SyntaxError: ignored

In [ ]:
lst =  [10, 20, 30, 40]
print (lst[4])

IndexError: ignored

In [ ]:
age = 18

# if 문 다음에 : 콜론이 나오면 들여쓰기 코드 블록이 나온다
# for, while, def, class 에서도 코드 블록이 사용된다
if age < 20:
    print ("입장이 허락되지 않습니다")
    print ("청소년 출입이 안됩니다")

입장이 허락되지 않습니다
청소년 출입이 안됩니다

### 제어문

* if 문
* while 문, for 문

In [ ]:
# 3의 배수를 판단하기 위한 조건문을 작성한다
x = input()
x = int(x)
if x % 3 == 0:
    print (x, " : 3의 배수")
else:
    print (x, "는 3의 배수가 아님")

4
4 는 3의 배수가 아님

In [ ]:
# "환영합니다"를 10번 출력하도록 반복문을  for 작성한다

for _ in range(10):
    print( "환영합니다")

환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다
환영합니다

In [ ]:
# 1과 자기자신으로 만 나누어지는 소수를 구하도록 조건문과 반복문을 사용하여 작성한다
# 입력 받은 n이 소수이면 소수라고 출력한다   
n = int (input ("input number"))
is_prime = True

for num in range(2, n):
    if n % num == 0:
        is_prime = False

print ( n, " is primme ", is_prime )

input number13
13  is primme  True

### LINC  실습 기초 프로그램 작성 1
* 직각삼각형의 빗변의 길이 구하기

In [ ]:
bottom =  float(input('직각삼각형의 밑변의 길이를 입력하시오: '))

직각삼각형의 밑변의 길이를 입력하시오: 10

In [ ]:
height =  float(input('직각삼각형의  높이를 입력하시오: '))

직각삼각형의  높이를 입력하시오: 20

In [ ]:
hypotenuse = (bottom ** 2 + height ** 2) ** 0.5
print ("빗변은", hypotenuse, "입니다")

빗변은 22.360679774997898 입니다

In [ ]:
from math import sqrt

bottom =  float(input('직각삼각형의 밑변의 길이를 입력하시오: '))
height =  float(input('직각삼각형의  높이를 입력하시오: '))
hypotenuse = sqrt((bottom ** 2 + height ** 2))
print ("빗변은", hypotenuse, "입니다")

직각삼각형의 밑변의 길이를 입력하시오: 5
직각삼각형의  높이를 입력하시오: 5
빗변은 7.0710678118654755 입니다

### LINC  실습 기초 프로그램 작성 2
* 작업시간과 시급를 입력으로 받아 급여지급를 출력하고자 한다
* hour     rate 를 변수로 사용한다

In [ ]:
hour = input("작업시간 ")
rate = input ("시급 ")

hour = int(hour)
rate = int(rate)
pay = hour * rate
print ("급여는 ", pay)

작업시간 10
시급 8720
급여는  87200

### 파일 스크립트 다루기

In [ ]:
%%writefile  payroll.py
hour = input("작업시간 ")
rate = input ("시급 ")

hour = int(hour)
rate = int(rate)
pay = hour * rate
print ("급여는 ", pay)

Overwriting payroll.py

In [ ]:
%run payroll.py

작업시간 10
시급 8720
급여는  87200

### 구글 드라이버 사용하기

In [ ]:
import os
print(os.getcwd())
!ls

/content
sample_data  test.py

In [ ]:
# 실행시 등장하는 URL을 클릭하여 허용해주면 인증KEY가 나타난다. 복사하여 URL아래 빈칸에 붙여넣으면 마운트에 성공하게된다.
from google.colab import drive
drive.mount('./MyDrive')

# 마운트된 내 드라이브를 확인해보자
!ls

Mounted at ./MyDrive
MyDrive  payroll.py  sample_data  test.py

In [ ]:
fpath ="/content/MyDrive/MyDrive/LINC/kweather.csv"

In [ ]:
# 특정파일을 가져오고 싶은 경우 다음과 같이 접근한다.
import pandas as pd
df = pd.read_csv("/content/MyDrive/MyDrive/LINC/kweather.csv",encoding="cp949")

In [ ]:
df.head(5)

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0  2010-08-01      28.7         8.3         3.4
1  2010-08-02      25.2         8.7         3.8
2  2010-08-03      22.1         6.3         2.9
3  2010-08-04      25.3         6.6         4.2
4  2010-08-05      27.2         9.1         5.6

In [ ]:
# 1에서 n까지 합구하기

n = input("n = ")
n = int (n)

sum = 0
for i in range(n+1):
    sum += i

print ("sum :", sum)

n = 10
sum : 55

### 예외처리 (2일)

In [17]:
def getInverse(listOfNumbers):
  for num in listOfNumbers:
    print(1/num)

In [18]:
getInverse([1,2])

1.0
0.5

In [19]:
getInverse([1,2,0,4,5])

1.0
0.5

ZeroDivisionError: ignored

In [20]:
def getInverse2(listOfNumbers):
  for num in listOfNumbers:
    try:
      print(1/num)
    except:
      print("infinite")

In [21]:
getInverse2([1,2,0,4,5])

1.0
0.5
infinite
0.25
0.2

In [25]:
getInverse2([1,2,"a",4,5])

1.0
0.5
infinite
0.25
0.2

In [22]:
def getInverse3(listOfNumbers):
  for num in listOfNumbers:
    try:
      print(1/num)
    except ZeroDivisionError as zde:
      print("infinite")
    except TypeError as te:
      print("Not a Number")

In [23]:
getInverse3([1,2,"a",4,5])
getInverse3([1,2,"a",4,0,5])

1.0
0.5
Not a Number
0.25
0.2
1.0
0.5
Not a Number
0.25
infinite
0.2

### None 이해하기

* 파이썬 자료형 중 하나
* return 이 없는 함수에서 반환되는 값을 출력할 때 흔히 볼 수 있다

In [ ]:
print( None )
print( type(None) )

None
<class 'NoneType'>

In [ ]:
# 0으로 나누는 경우는 존재하지 않기 때문에 None을 반환
def divide(a,b):
  try:
    return a / b
  except ZeroDivisionError:
    return None

In [ ]:
print (divide(10, 0))

None

In [ ]:
def divide(a, b):
    try:
        return a / b
    except ZeroDivisionError as e:
        raise ValueError('Invalid inputs') from e

In [ ]:
x, y = 0, 10
try:
    result = divide(x, y)
except ValueError:
    print('Invalid inputs')
else:
    print('Result is %.1f' % result)

Result is 0.0

In [ ]:
# 함수가 값을 반복하지 않으면 이떄  None 을 반환함
def add (x, y):
    z = x + y

x = add(3,4)
print (x)

None

### 컬렉션자료형

다음 반복문 수행 결과의 차이점을 설명하시오

In [ ]:
# remove()를 사용하여 리스트의 원소를 삭제함
# 1  만 삭제됨
alist =  list(range(10))
for item in alist:
    #print (f"current {item} in {alist} : ")
    if item == 2 or item == 1:
        print ('removed : ', item)
        alist.remove(item)
    else:
        print ('not removed : ', item)
print ('alist : ', alist)

not removed :  0
removed :  1
not removed :  3
not removed :  4
not removed :  5
not removed :  6
not removed :  7
not removed :  8
not removed :  9
alist :  [0, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 1, 2 가 삭제됨 
alist =  list(range(10))
for item in alist[:]:
    if item == 2 or item == 1:
        alist.remove(item)
print ('list1 : ', alist)

list1 :  [0, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 올바른 remove()를 사용을 통한 리스트의 원소를 삭제함
# 1  만 삭제됨
alist =  list(range(10))
for item in [1,2]:
    alist.remove(item)
print ('alist : ', alist)

alist :  [0, 3, 4, 5, 6, 7, 8, 9]

### Factorial 구하기

In [ ]:
def factorial_for(n):
    ret = 1
    for i in range(1, n+1):
        ret *= i
    return ret


print (factorial_for(5))
print (factorial_for(20))

120
2432902008176640000

In [ ]:
def factorial_recursive(n):
    return n * factorial_recursive(n-1) if n > 1 else 1

print (factorial_recursive(5))
print (factorial_recursive(20))

120
2432902008176640000

In [ ]:
import math

print (math.factorial(5))
print (math.factorial(20))

120
2432902008176640000

In [ ]:
# 1에서 n 까지 합구하기 
from functools import reduce
add = lambda x, y  :  x + y 
n = 5

# reduce(집계 함수, 순회 가능한 데이터[, 초기값])
y = reduce(add, range(1,n+1))
print (y)

y = reduce(add, [1,2,3,4,5])
print (y)

# 최대값 구하기
max_func = lambda a, b: a if (a > b) else b 
y= reduce(max_func, [34, 76, 29, 96, 68])
print (y)

15
15
96

In [ ]:
#  첫 번째 인자로 원하는 연산, 두 번째 인자로 재귀적인 자료구조를 받는
from functools import reduce

def factorial_reduce(n):
    return reduce(lambda x, y: x * y, range(1, n+1))


print (factorial_for(5))
print (factorial_for(20))

120
2432902008176640000

### 수정가능 자료 리스트의 매개변수 사용

In [ ]:
def append_to(element, to=[]):
    to.append(element)
    return to

In [ ]:
my_list = append_to("a") 
print(my_list)
print (id(my_list))

my_second_list = append_to("b") 
print(my_second_list)

print (id(my_second_list))

['a', 'b', 'a']
139840982285200
['a', 'b', 'a', 'b']
139840982285200

In [ ]:
 def append_to(element, to=None):
     if to is None:
         to = []
     to.append(element)
     return to

In [ ]:
my_list = append_to("a") 
print(my_list)

my_second_list = append_to("b") 
print(my_second_list)

['a']
['b']

### any() 사용하기

In [1]:
def is_qualified(sql, ml, stats):
    if (sql >= 10) or (ml >= 12) or (stats >= 8):
        return True
    else:
        return False

False

In [ ]:
is_qualified(11, 11, 7)
# True

True

In [ ]:
is_qualified(9, 10, 7)
# False

False

In [2]:
def is_qualified(sql, ml, stats):
    requirements = [
        sql >= 10,
        ml >= 12,
        stats >= 8
    ]
    return any(requirements)

In [5]:
is_qualified(11, 11, 7)
# True

True

In [4]:
is_qualified(9, 10, 7)
# False

False