In [3]:
import json

json_str = '[{"name":"홍길동", "age":"33"}]'
json_obj = json.loads(json_str)

print(json_obj)

[{'name': '홍길동', 'age': '33'}]

In [4]:
print(json_obj[0])

{'name': '홍길동', 'age': '33'}

In [5]:
json_str = '[{"name":"이몽룡", "age":"33"}, {"name":"성춘향", "age":"25"}]'
json_obj = json.loads(json_str)

print(json_obj[1])
print(json_obj[0:2])

{'name': '성춘향', 'age': '25'}
[{'name': '이몽룡', 'age': '33'}, {'name': '성춘향', 'age': '25'}]

In [10]:
# item 이 2개이후 0,1 객체를 접근할 수 있으며 3번쨰 객체 접근시 오류 발생함
print(json_obj[2])

IndexError: list index out of range

In [6]:
print(json_obj[0])
# 0 번째 json_ojb에서 name을 출력함
print(json_obj[0]['name'])
print(json_obj[0]['age'])

{'name': '이몽룡', 'age': '33'}
이몽룡
33

In [8]:
type(json_obj)

list

In [7]:
for student in json_obj:
    print(student)

{'name': '이몽룡', 'age': '33'}
{'name': '성춘향', 'age': '25'}

In [9]:
for student in json_obj:
    print(student['name'])

이몽룡
성춘향