<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/List_tutorial_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 리스트 생성하기

* 리스트를 만들 때는 대괄호([ ])로 감싸 주고 각 요소값은 쉼표(,)로 구분해 줌


```
odd = [1, 3, 5, 7, 9]

리스트명 = [요소1, 요소2, 요소3, ...]
```

다음 데이터타입의 4 위치 앞에 3 데이터를 추가하기 위한 명령어로 올바른 것은?

In [ ]:
month=[1,2,4,5]
month.insert(2,3)

In [ ]:
month

[1, 2, 3, 4, 5]

In [ ]:
month[-1]

5

두번쨰 원소에서 마지막 전 원소까지

In [ ]:
month[1:-1]

[2, 3, 4]

**슬라이싱** 실습

In [ ]:
month[:2]

[1, 2]

리스트에 포함된 특정 원소의 개수 세기(count)

In [ ]:
month.count(1)

1

#### Ways to Find The Average of a List in Python


sum(input-list)

Note: average = (sum)/(count)

In [ ]:
inp_lst = [12, 45, 78, 36, 45, 237.11, -1, 88]
 
sum_of_lst = sum(inp_lst)
 
lst_avg = sum_of_lst/len(inp_lst)
print("Average value of the list:\n") 
print(lst_avg) 
print("Average value of the list with precision upto 3 decimal value:\n")
print(round(lst_avg,3))

Average value of the list:

67.51375
Average value of the list with precision upto 3 decimal value:

67.514

In [ ]:
inp_lst = [1,2,3,4,5]
 
sum_lst = sum(inp_lst)
print("리스트 합:") 
print(sum_lst)
lst_avg = sum_lst/len(inp_lst) 
print("리스트의 평균값:") 
print(lst_avg)

리스트 합:
15
리스트의 평균값:
3.0

reduce() function is basically used to apply a particular(input) function to the set of elements passed to the function.

reduce(function,input-list/sequence)

lambda() function is used to build and form Anonymous functions i.e. function without a name or signature.

Syntax:
lambda arguments:function

lambda 인자 : 표현식

In [ ]:
sum = (lambda x,y: x + y)(10, 20)
print (sum)
sum = lambda a, b: a+b
sum(3,4)

30

7

In [ ]:
# 입력받은 자료형의 각 요소가 합수에 의해 수행된 결과를 묶어서 map iterator 객체로 리턴
result = list(map(lambda x: x ** 2, range(5))) 
print(result)
result = list(map(lambda i: i ** 2 , inp_lst))
result

[0, 1, 4, 9, 16]

[144, 2025, 6084, 1296, 2025, 56221.15210000001, 1, 7744]

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map(lambda x: str(x) if x % 3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [ ]:
# 두번째 인수인 반복 가능한 자료형 요소들을 첫번째 인자 함수에 하나씩 입력하여 리턴값이 참인 것만 묶어서 반환
result = list(filter(lambda x: x > 0, inp_lst))
result

[12, 45, 78, 36, 45, 237.11, 88]

In [ ]:
# reduce(함수, 순서형 자료)
from functools import reduce
reduce(lambda x, y: x+y, [1, 2, 3, 4, 5])
# = ((((1+2)+3)+4)+5)
reduce(lambda x, y: x + y, [1, 2, 3, 4,5], 0)

15

In [ ]:
# 최소값 구하기
reduce(lambda x, y: x if x < y else y, inp_lst)

-1

In [ ]:
# 최대값 구하기
reduce(lambda x, y: x if x > y else y, inp_lst)

237.11

In [ ]:
# python3 부터 내장함수에서 빠짐

from functools import reduce

# 문제1. 전통적으로 최대값 구하기
def maximum(li):
    default = 0
    for e in li:
        if default < e:
            default = e
    return default
maximum(inp_lst)

# 문제1. reduce 활용하여 최대값 구하기
reduce(lambda a,b: a if a > b else b ,inp_lst)

237.11

In [ ]:
from functools import reduce

inp_lst = [12, 45, 78, 36, 45, 237.11, -1, 88]
 
lst_len= len(inp_lst)
 
lst_avg = reduce(lambda x, y: x + y, inp_lst) /lst_len 
print("Average value of the list:\n") 
print(lst_avg) 
print("Average value of the list with precision upto 3 decimal value:\n")
print(round(lst_avg,3))

Average value of the list:

67.51375
Average value of the list with precision upto 3 decimal value:

67.514

In [ ]:
import numpy as np
 
inp_lst = [1, 2, 3, 4, 5]
 
lst_avg = np.average(inp_lst)
print("Average value of the list:\n") 
print(lst_avg) 



print("Average value of the list with precision upto 3 decimal value:\n")
print(round(lst_avg,3))

Average value of the list:

3.0
Average value of the list with precision upto 3 decimal value:

3.0