<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/python_function_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 함수

* 프로그램을 쪼개는 방법중 하나 (함수, 객체, 모듈)
* 우리가 자주사용하는 코드를 묶어놓은 것
* 필요시 호출하여 사용함
* 함수를 사용하며 코드를 줄일 수 있음

* 값을 전달하고 결과를 반환하는 함수

> radius 는 parameter(파라매터), 5는 argument (인자)

In [ ]:
def calculate_area(radius):
  area = 3.14 * radius
  return area

In [ ]:
print (calculate_area(5))

15.700000000000001

**Swap** the first two characters of each string.

```
    :param s1: string to have first two characters swapped
    :type s1:  str
    :param s2: string to have first two characters swapped
    :type s2:  str

    :return: two strings separated with a single space with first two
    characters of each string swapped.
    :rtype:  str
```

In [ ]:
def swap(s1, s2):
    # swap first 2 characters of each string
    first = s1[0:2]
    s1 = s2[0:2] + s1[2:]
    s2 = first + s2[2:]
    # merge swapped s1 and s2
    result = s1 + ' ' + s2
    return result

In [ ]:
cases_swap = ['abc,xyz', 'ab,xy', 'ab,xyz', 'aaaaa,bbb', 'aaa,bb']
expect_swap = ['xyc abz', 'xy ab', 'xy abz', 'bbaaa aab', 'bba aa']

# test swap()
count = 0
result = 1

# check each testcase
for testcase in cases_swap:
  test1, test2 = testcase.split(sep=',')
  if swap(test1, test2) != expect_swap[count]:
      result = 0
      break
  count = count + 1
  
# report test result
if result:
  print("swap(): O")
else:
  print("swap(): X")

swap(): O

* 여러개의 값을 반환하는 함수

In [ ]:
def sort_num(num1, num2):
  if num1 > num2:
    return num2, num1
  else:
    return num1, num2

In [ ]:
print (sort_num(10, 100))
print (sort_num(100, 10))

(10, 100)
(10, 100)

* 함수 값의 전달과 반환

In [ ]:
def get_sum(start, end):
  sum = 0
  for i in range(start, end+1):
    sum = sum + i

  return sum

In [ ]:
print (get_sum(1,10))

55

* 변수의 범위
 > 함수안의 변수를 지역변수(local variable)이라함
 
 > 함수밖의 변수를 전역변수(global variable)이라함

* 같은 이름 다른변수

In [ ]:
def print_counter():
  counter = 200   # 지역변수
  print("counter = ", counter ) # 함수 내부

counter = 100  # 전역변수
print_counter()
print("counter = ", counter ) # 함수 외부

counter =  200
counter =  100

In [ ]:
def print_counter():
  global counter
  counter = 200   # 지역변수
  print("counter = ", counter ) # 함수 내부

counter = 100  # 전역변수
print_counter()
print("counter = ", counter ) # 함수 외부

counter =  200
counter =  200