<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/PyThon_wk2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3+5

8

In [ ]:
"hello"

'hello'

In [ ]:
5/3

1.6666666666666667

In [ ]:
5//3

1

In [ ]:
num1=3
num2=5

In [ ]:
num2//num1

1

1. 다음은 자료의 형변환을  위한 프로그램이다.  수행결과를 보이시오

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print (y)

2

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
x

1.0

In [ ]:
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(z)

3.0

In [ ]:
type(z)

str

In [ ]:
x = input ('number 1')
print (x)
y = input ('number 2')
print (y)
z = x + y
print (z)

number 13
3
number 25
5
35

2. 문자열은 문자 집합으로 문자열의 구성내용을 접근하기 위해서는 인덱스(index)를 사용한다. 다음 문장의 결과를 예상하시오.

In [ ]:
word = "Hello"
word [2]

'l'

In [ ]:
#print (word [1:3]  )
word = "Hello"
print(word [-1] )

o

In [ ]:
word = "Hello"
word [2]

'l'

In [ ]:
word = 'Help' + 'a'
word = 'Help' 'a'
word

'Helpa'

In [ ]:
문자열의 위치 2에서 5까지의 문자를 출력한다. 문자열의 시작은 0부터 이며 2에서 4까지의 3개의 문자를 얻음

In [ ]:
  b = "Hello, World!"
print(b[2:6])

llo,

2. 함수 len 을 사용하여 리스트 또는 문자열의 길이를 출력하시오

In [ ]:
name = "Jamie" 
print(len(name)) # 5

5

In [ ]:
names = ["Bob", "Jane", "James", 0] 
print(len(names)) # 4

4

In [ ]:
a = "Hello, World!"
print(len(a))

13

3. 문자열 '100'를 정수형으로 변환하라.

In [ ]:
num_string = "100"
num_int = int(num_string)
num_int

100

4. 함수 split를 사용하여 문자열을 “," 로 분리한 후 리스트를 출력한다.

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [ ]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [ ]:
a = "Art is long. Life is too short"
a.split('.')

['Art is long', ' Life is too short']

5. 만약 a 가 b 보다 크면  "Hello World“를 출력하시오.

In [ ]:
a = 5
b = 3 
if a  >   b:
print("Hello World")

IndentationError: ignored

6. 만약 a와 b 가 같지 않으면  "Hello World“를 출력하시오

In [ ]:
a = 50
b = 10

if a  !=  b:
  print("Hello World")

Hello World

7. 만약 a와 b가 같으면  "Yes" 그렇지 않으며 "No".를 출력하시오.

In [ ]:
a = 50
b = 10

if a  ==  b:
  print("Yes")
else:
  print("No")

No

8. 만약 a와 b가 같으면 “1”, a가 b보다 크면 “2”를 그렇지 않으며 “3”을 출력하시오.

In [ ]:
a = 10
b = 50
if a  ==   b:
  print("1")
elif a > b:
  print("2")
else: 
  print("3")

3

9. 자료에서 특정한 조건의 값을 찾아 합을 구한다.

In [ ]:
# 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.
marks=[90,25,67,45,80]

total = 0
i = 0
higher_cnt = 0
for i in range(len(marks)):
    if marks[i] >= 50:
        higher_cnt += 1
        total = total + marks[i]
    i = i + 1

print ("50점 이상의 점수들의 총합 = %d" % total)
print ("50점 이상의 점수들의 평균 = %d" % (total/higher_cnt))

50점 이상의 점수들의 총합 = 237
50점 이상의 점수들의 평균 = 79