<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/python_4wk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 조건문과 반복문 사용하기

50점 이상인 학생의 점수 합과 평균을 구하자

In [ ]:
marks = [10,20,40, 70, 25, 60]
total = 0
higher_cnt = 0
for m in marks:
  if m >= 50:
    total = total + m
    higher_cnt += 1
    
print ("total " + str(total))
print ("average " + str(total/higher_cnt))

total 130
average 65.0

In [ ]:
marks = [10,20,40, 70, 25, 60]
higher = []
for m in marks:
  if m >= 50:
    higher.append(m)
 
print (sum(higher))
print (sum(higher)/len(higher))

130
65.0

생성된 higher을 오름 차순으로 구성하자

In [ ]:
higher.sort()
higher

[60, 70]

반복문 없이 higher를 만들기

In [ ]:
marks = [10,20,40, 70, 25, 60]

higher = [x for x in marks if x >= 50]
higher

1에서 10사이의 짝수 찾아 even_numbers 추가하기

In [ ]:
even_numbers = []
for n in range(1, 10+1):
    if n % 2 == 0:
        even_numbers.append(n)

In [ ]:
 [x for x in range(1, 10+1) if x % 2 == 0]

[2, 4, 6, 8, 10]