<a href="https://colab.research.google.com/github/iceman67/-Python/blob/master/python_function_example_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**함수**

* 특정작업을 수행하는 코드 묶음
* 함수화하여 필요하여 호출함

In [ ]:
def fahrenheit(T_in_celsius): 
    return(T_in_celsius*9/5)+32

for t in range(1, 6): 
    print(t,": ",fahrenheit(t))

1 :  33.8
2 :  35.6
3 :  37.4
4 :  39.2
5 :  41.0

* x와 y는 매개변수임

In [ ]:
def rectangle_area(x, y):
  return x * y


rectangle_area(10,20)

200

In [ ]:
rectangle_area = lambda x, y: x * y

rectangle_area(10,20)

200

* 함수 호출시 x는 5 y는 5임
* 호수 호출후 x 는 3

> 함수 호출시 객체의 주소가 전달됨

In [ ]:
def f(x):
  y = x
  x = 5
  return y * y

x = 3
print (f(x))
print (x)

9
3

* 함수 호출전, ham = [0]
* 함수 호출후  ham = [0,1]

In [ ]:
def spam(eggs):
  eggs.append(1)
  eggs = [2, 3]

ham = [0]
spam(ham)

print (ham)

[0, 1]

global 키워드를 사용하여 함수 내에서 전역변수로 선언된 변수를 사용

In [ ]:
def f():
  global s 
  s = 'I am in function'
  print (s)

s = 'I am out of function'
f()

print (s)

I am in function
I am in function

**(복습)예외처리**

In [ ]:
while True:
   try:
      n=input("정수값을 입력하시오: ")
      n=int(n)
      break
   except ValueError:
      print("유효한 정수값이 아닙니다! 다시 입력하시요...")
print("올바른 정수값 {}을 입력하셨습니다. ".format(n))

정수값을 입력하시오: x
유효한 정수값이 아닙니다! 다시 입력하시요...
정수값을 입력하시오: 10
올바른 정수값 10을 입력하셨습니다.

**(복습)조건문**

In [ ]:
score = 90
if score >= 90:
  print("합격하였습니다")

합격하였습니다

**(복습) 관계식**

In [ ]:
x = 4
y = 2

In [ ]:
x > y

True

In [ ]:
x >= y

True

In [ ]:
x < y

False

In [ ]:
x <= y

False

In [ ]:
x == y

False

In [ ]:
x != y

True

In [ ]:
x = 10

if x % 2 == 0:
  print("{} 는 짝수이다".format(x))

10 는 짝수이다